@import 'bulma/bulma.css';
@import '~@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html, .ais-SearchBox-input {
    color: #DEE2E6 !important;
}

a {
    color: #039be5;
}

.container {
    width: 68%;
}
@media only screen and (max-width: 810px) {
    .container {
        width: 100%;
    }
} 

.ais-SearchBox {
    background: transparent;
    border: none;
    border-bottom: 1px solid #DEE2E6;
    border-radius: 0;
    box-shadow: none;
    box-sizing: content-box;
    font-size: 16px;
    height: 3rem;
    margin: 0 0 8px;
    outline: none;
    padding: 0;
    transition: box-shadow .3s, border .3s;
    width: 100%;
}

.ais-SearchBox:hover {
    border-bottom: 1px solid #26a69a;
}

.ais-SearchBox-submit, .ais-SearchBox-reset {
    display: none;
}

ais-highlight-0000000000 {
    color: gold;
}

.video-container {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;

    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.ais-SearchBox {
    color: #DEE2E6;
    max-width: none;
}

::-moz-placeholder {
    opacity: 1;
}

a:hover {
  color: #FFF;
}

.modal {
    background: none;
}

.modal-content {
    position: relative;
    padding-bottom: 56.25% !important;
    padding-top: 30px !important; 
    height: 0; 
    overflow: hidden;
}
     
.modal-content iframe,
.modal-content object,
.modal-content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #DEE2E6;
}

.card-header-title {
    background-color: #01182a;
    color: #58b4f6;
    align-items: normal !important;
    display: block !important;
    font-size: 1.64rem;
    font-weight: 400;
}

.card-content {
    margin-top: 0;
    background-color: #01182a;
    color: #DEE2E6 !important;
    padding-top: 0.01rem;

    img {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    h4 {
        color: #9cd6ff;
    }
    
    h5 {
        color: #58b4f6;
    }
}

.card {
    transition: box-shadow .25s;
}

.card:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.5); 
}

.right {
    float: right !important;
}

.credits {
    font-size: 90%;
    margin-bottom: 10px;
}

.link-like {
    font-size: inherit;
    line-height: 1.5;
    background: none;
    border: none;
    color: #039be5 !important;
    text-decoration: none;
    padding: 0;

    &:hover {
        color: #26a69a;
        cursor: pointer;
    }

    &:active {
        background: none;
    }

}

.icon-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.hoverable {
    transition: box-shadow 0.25s;
}