@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

.button-link,
a {
    @apply text-sc-blue-100 hover:text-blue-300 underline hover:no-underline cursor-pointer;
}

.ais-SearchBox-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #DEE2E6;
    border-radius: 0;
    box-shadow: none;
    box-sizing: content-box;
    font-size: 16px;
    height: 3rem;
    margin: 0 0 8px;
    outline: none;
    padding: 0;
    transition: box-shadow .3s, border .3s;
    width: 100%;
    background-color: #58b4f6;
    color: #01182a;

}

.ais-SearchBox-input:hover {
    border-bottom: 1px solid #26a69a;
}

.ais-SearchBox-submit, .ais-SearchBox-reset {
    display: none;
}


.video-container {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;

    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.ais-SearchBox {
    color: #DEE2E6;
    max-width: none;
}

blockquote {
    @apply mr-5 my-4 pl-4 border-solid border-l-4 border-gray-200;
}

.highlight-query {
    @apply not-italic underline decoration-2 decoration-yellow-400;
}